@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");


.svsave{
    color: blue;
    cursor: pointer;
    margin: 2px;
    padding: 8px 22px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.svsave:hover{
    color: white;
    cursor: pointer;
    background-color:blue;

}
.svsave:active{
    color: white;
    cursor: pointer;
    background-color: rgb(42, 10, 140);

}

.svx{
    color: red;
    cursor: pointer;
    margin: 2px;
    padding: 8px 22px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.svx:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(255, 0, 0);

}
.svx:active{
    color: white;
    cursor: pointer;
    background-color: rgb(140, 10, 10);

}

.backm{
    background:#415dd8;background:linear-gradient(45deg,#6b7fd6,#5870c0 40%,#698cf5 59%,#9fe0fb 85%,#b4e6fb);
    /* background:#415dd8;background:linear-gradient(45deg,#4662dd,#405dbe 40%,#4171fc 59%,#7fd8ff 85%,#a6e4ff); */


    /* background:#101f61;background:linear-gradient(45deg,#101f61,#2b4cb6 40%,#4171fc 59%,#7fd8ff 85%,#a6e4ff); */
  }
.backt{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
filter: alpha(opacity=50);  /* IE 5-7 */
-moz-opacity: 0.5;          /* Netscape */
-khtml-opacity: 0.5;        /* Safari 1.x */
opacity: 0.5;               /* Good browsers */
}
input.fillIn:focus, input[type=text].fillIn:focus {
    outline: 0;
    border: solid 1px #009aef;
    box-shadow: 0 0 2px rgb(6 185 247 / 65%), 0 3px 0 rgb(5 166 222 / 7%) inset;
    transition: .1s ease-in;
}
.ixl-html-crate input[type=text]:focus {
    border-color: #535355;
}
input.disabled.fillIn, input.fillIn, input[disabled].fillIn, input[type=text].fillIn {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-opacity: 1;
    -webkit-text-fill-color: #000;
}
.ixl-html-crate input[type=text] {
    border: 1px solid #A7A6AA;
    padding: 1px;
}
.fillIn {
    /* background: #fff; */
    border: 1px solid #ccc;
    padding: 1px;
    left: 0;
    margin-bottom: 1px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
}
.fillIn {
    width: 50px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, html, input, select, textarea {
    font-family: Verdana,sans-serif;
}

input:focus-visible {
    outline-offset: 0px;
}

input[type="text" i] {
    padding: 1px 2px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

input {
    writing-mode: horizontal-tb !important;

    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.div1{
    padding: 2px;
    margin: 4px;
}

.badg1{
    background-color:#000 ;
    color:#98d9fc;
    margin: 12px 12px;
    padding: 6px 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: #fdff9d 2px solid;
    font-size: 16px;
    font-weight: bold;
}

.svgr1{
    color: rgb(8, 129, 8);
    font-size: x-small;
    padding: 4px;
    position: relative;
    /* : absolute; */
    right:  -4px;
    top:  -14px;
    float: right
    
    ;
    }
    table.customTable {
      width: 100%;
      background-color: #FFFFFF;
      border-collapse: collapse;
      border-width: 2px;
      border-color: #7EA8F8;
      border-style: solid;
      color: #000000;
      text-align: center;
    }
    
    table.customTable td, table.customTable th {
      border-width: 2px;
      border-color: #7EA8F8;
      border-style: solid;
      padding: 5px;
    }
    
    table.customTable thead {
      background-color: #7EA8F8;
    }
/* -------------------------------------------- */
    table.tbl-blue {
        width: 100%;
        background-color: #FFFFFF;
        border-collapse: collapse;
        border-width: 2px;
        border-color: #7EA8F8;
        border-style: solid;
        color: #000000;
        text-align: center;
      }
      
      table.tbl-blue td, table.tbl-blue th {
        border-width: 2px;
        border-color: #7EA8F8;
        border-style: solid;
        padding: 5px;
      }
      
      table.tbl-blue thead {
        background-color: #7EA8F8;
      }



.svgray1{
    cursor: pointer;

    padding: 8px;
    margin: 1rem/* 16px */;
    --tw-text-opacity: 1;
    color: rgb(98, 98, 98);
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    background-color:rgba(224, 225, 223, 0.81);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.svgray1:hover{
    color: rgb(251, 249, 249);
    background-color:rgba(163, 163, 163, 0.81);
}
.svgray1:active{
    color: rgb(175, 246, 127);
    background-color:rgba(103, 101, 101, 0.81);
}
.svred{
    cursor: pointer;
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
    padding-top: 0.2rem/* 24px */;
    padding-bottom: 0.2rem/* 24px */;
    margin: 1rem/* 16px */;
    --tw-text-opacity: 1;
    color: rgb(19, 101, 11);
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    background-color:rgba(234, 255, 220, 0.81);
    border-radius: 3px;
}
.svred:hover{
    --tw-bg-opacity: 1;
    background-color:rgba(247, 191, 191, 0.698);

    --tw-text-opacity: 1;
    color: rgb(255, 89, 89);

}
.svred:active{
    font-size: 1.4rem/* 30px */;
}
.svgreen{
    cursor: pointer;
    padding-left: 1.2rem/* 24px */;
    padding-right: 1.2rem/* 24px */;
    padding-top: 0.2rem/* 24px */;
    padding-bottom: 0.2rem/* 24px */;
    margin: 1rem/* 16px */;
    --tw-text-opacity: 1;
    color: rgb(10, 56, 6);
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    background-color:rgb(168, 255, 110);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.svgreen:hover{
    --tw-bg-opacity: 1;
    background-color:rgba(57, 195, 15, 0.985);

    --tw-text-opacity: 1;
    color: rgb(5, 39, 2);

}
.svgreen:active{
    font-size: 1.4rem/* 30px */;
}
Button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
Button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
Button:active {
	position:relative;
	top:1px;
}

    .Button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    
}
.Button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.Button:active {
	position:relative;
	top:1px;
}    

/* ------------------------------------------------------- */

/* ------------table---------------------------------- */
.tg {
    border-collapse: collapse;
    border-color: #9abad9;
    border-spacing: 0;
    margin: 0px auto;
  }
  .tg td {
    background-color: #ebf5ff;
    border-color: #9abad9;
    border-style: solid;
    border-width: 1px;
    color: #444;
    font-family: Arial, sans-serif;
    font-size: 14px;
    /* overflow: hidden; */
    padding: 10px 5px;
    word-break: normal;
  }
  .tg th {
    background-color: #409cff;
    border-color: #90c1f1;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    /* overflow: hidden; */
    padding: 10px 5px;
    word-break: normal;
  }
  .tg .td-tg1 {
    background-color: #d2e1fc;
    border-color: inherit;
    text-align: left;
    vertical-align: top;
  }

  /* table hover */
    /* tr:hover   .td-tg1:hover, .td-tg2:hover {
    background-color: #bef6b7  !important;
    overflow: visible;
    z-index: 8888;
  
  } */


  /* .tg .td-tg1 { */
  /* .tg .td-tg1 { */
  /* tr:hover .td-tg1:hover{ */
  /* tr:hover .td-tg1:hover{ */
    /* background-color: #24d324; */
  
  /* } */
  /* .tg tbody .tr1:hover {
    background-color: #15d1d1;
  } */
  .tg .th-tg1 {
    border-color: inherit;
    /* position: -webkit-sticky; */
    /* position: sticky; */
    text-align: left;
    /* top: -1px; */
    /* vertical-align: top; */
    /* will-change: transform; */
  }
  
  .tg .td-tg2 {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
  }
  .tg-sort-header::-moz-selection {
    background: 0 0;
  }
  .tg-sort-header::selection {
    background: 0 0;
  }
  .tg-sort-header {
    cursor: pointer;
  }
  .tg-sort-header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
  }
  .tg-sort-header:hover:after {
    visibility: visible;
  }
  .tg-sort-asc:after,
  .tg-sort-asc:hover:after,
  .tg-sort-desc:after {
    visibility: visible;
    opacity: 0.4;
  }
  .tg-sort-desc:after {
    border-bottom: none;
    border-width: 5px 5px 0;
  }
  
  
  @media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        /* overflow-x: auto; */
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
  }
  /* tabel hover */
  /* tr:hover .td-tg1:hover  .td-tg2:hover  {background-color: coral !important;} */
  /* ------------table---------------------------------- */
  

  .mauto {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
}
.containerscrolly {
    /* width: 30em; */
    /* overflow-x: auto; */
    overflow-x: scroll;
    white-space: nowrap;
    /* style="overflow-y:scroll; overflow-x:hidden; height:400px;" */
}




/* --start ----------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    /* background-color: #000; */
}

/* body {
    color: #999;
    background: #101010;
} */

#wrapper {
    margin-right: 150px;
    /* margin-left: 150px; */
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #999;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    /* background-color: rgb(182, 109, 255); */
    padding: 0 5px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    position: relative;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

/* header */

.header {
    background-image: url("images/photography.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-text {
    margin-top: 145px;
    color: white;
    text-align: center;
    z-index: 1;
}

.header-text h1 {
    font-size: 70px;
    font-weight: 700;
}

.header-text h4 {
    font-size: 22px;
    font-weight: 300;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #79bbff;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    background-color: black;
    height: 100vh;
    transition: 0.5s;
    display: block;
    color: #79bbff;
}

.brand-title {
    margin: 35px 0 20px 15px;
    font-size: 22px;
    /* font-weight: 300; */
}

.side-links li {
    margin: 6px 8px 20px 16px;
    list-style: none;
    /* font-weight: 300; */
    margin-bottom: 20px;

}

.side-links .active {
    color: white;
}

.side-links li a {
    display: inline-block;
    transition: ease 0.4s;
    width: 100%;
}

.side-links li a:hover {
    color: white;
    transform: translateX(10px);
}

footer {
    /* margin-top: 140px; */
    text-align: center;
    font-weight: 300;
}

footer a {
    opacity: 0.7;
    margin-right: 6px;
}

footer small {
    display: inline-block;
    margin-top: 15px;
}

.main-footer {
    margin: 20px 0;
    position: fixed;
    bottom:  0;
    
    
}

.main-footer div {
    display: none;
}

/* Menu Button */
.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.menuButton {
    cursor: pointer;
    position: fixed;
    top: 2vh;
    right: 2vw;
    z-index: 1;
    display: none;
}

/* Close Button */
.closeButton {
    font-size: 50px;
    padding-right: 85%;
    color: whitesmoke;
    cursor: pointer;
    display: none;
}

/* Blog Styles */

.searchbar {
    text-align: center;
    margin: 15px auto;
}

.searchbar input {
    padding: 10px 10px;
    width: 250px;
}

.searchbar button {
    padding: 11px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

/* Categories */

.categories ul li {
    list-style: none;
    background-color: #494949;
    margin: 20px 5px;

    border-radius: 15px;
}

.categories ul {
    display: flex;
    justify-content: center;
}

.categories a {
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

.header-title {
    text-align: center;
    margin: 80px 0 40px 0;
    font-size: 30px;
    font-weight: 300;
}

.cards-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-bottom: 1rem;
    border: none;
}

.card-blog-content p {
    margin-bottom: 16px;
    margin-top: 6px;
    font-size: 16px;
    font-weight: 300;
}

.card-blog-content p span {
    float: right;
}

.card-blog-content h4 {
    font-size: 24px;
    font-weight: bolder;
    text-transform: capitalize;
}

.card-blog-content a {
    font-weight: 400;
}

/* Pagination */

.pagination {
    display: inline-block;
}

#pagination {
    margin: 3rem 3rem;
}

.pagination a {
    color: white;
    float: left;
    padding: 6px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4caf50;
    color: white;
}

.pagination a:hover {
    background-color: #ddd;
    color: black;
}

/* Single Blog */
.single-blog-post h1 {
    text-align: center;
    margin: 80px 0 40px 0;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
}

.single-blog-post p {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 300;
}

.single-blog-post .time-and-author {
    margin-left: 50px;
    margin-right: 50px;
}

.single-blog-post img {
    height: 50vh;
    object-fit: cover;
    width: 100%;
}

.single-blog-post .about-text {
    max-width: 700px;
    margin: 17px auto;
    line-height: 1.5;
}

.single-blog-post .about-text li {
    font-weight: 300;
    margin-bottom: 20px;
}

.single-blog-post p span {
    float: right;
}

.recommended-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.recommended-card {
    width: 350px;
    overflow: hidden;
    transition: 0.3s ease;
}

.recommended-card:hover {
    transform: translateY(-8px);
}

.recommended-card img {
    max-width: 100%;
}

.recommended-card h4 {
    max-width: 350px;
    font-size: 18px;
}

.recommended p {
    margin-top: 80px;
    margin-bottom: 15px;
}

/* Contact */
#contact-us h1 {
    text-align: center;
    margin: 80px 0 40px 0;
    font-size: 30px;
    font-weight: 400;
}

#contact-us .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact-us .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
}

#contact-us .specific-info {
    display: flex;
    margin-bottom: 50px;
}

#contact-us .specific-info a {
    display: inline-block;
}

#contact-us .specific-info a:nth-of-type(1) {
    margin-bottom: 10px;
}

#contact-us .specific-info .title {
    margin-bottom: 5px;
}

#contact-us .specific-info .subtitle {
    margin-top: 10px;
}

#contact-us .specific-info i {
    margin-right: 20px;
    color: rgba(255, 255, 0, 0.9);
}

#contact-us .subtitle {
    color: #9b9b9b;
}

.badge{
    position:absolute;
    right:2px;
    /* right:-10px; */
    top:2px;

    padding:5px;
    color:#fff;
    background-color:#bf1f1f;
    font-size:10px;
    border-radius:20px;
    content:attr(data-badge);
    border:solid 1px #c93a3a;
  }   












/* Contact Form */

#contact-us input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-form span {
    font-weight: 300;
    font-size: 16;
}

textarea {
    height: 200px;
}

#contact-us input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

#contact-us input[type="submit"]:hover {
    transform: translateY(-4px);
}

/* Medium devices and below */

@media (max-width: 768px) {
    .sidebar {
        width: 0;
        overflow: hidden;
    }

    #wrapper {
        margin-right: 0;
    }

    .menuButton {
        display: block;
    }

    .closeButton {
        display: block;
    }

    /* Recommednded Cards */
    .recommended-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    /* Blog */
    .cards-blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        background: #101010;
        margin-bottom: 1rem;
        border: none;
    }

    /* Recommended cards */
    .recommended-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    /* Footer */
    .main-footer div {
        display: block;
    }

    /* Contact-us */
    #contact-us .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #contact-us .specific-info {
        margin-bottom: 25px;
    }

    /* Categories */
    .categories ul {
        flex-direction: column;
        text-align: center;
    }

    .categories ul li {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .categories ul li:nth-of-type(4) {
        margin-bottom: 25px;
    }
}

.side-links .router-link-active {
    background-color: orangered;
    color: #fff;
    padding: 3px 15px;
    border-radius: 3px;
}

.error {
    color: red;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}

.success-msg {
    padding: 10px 12px;
    border-radius: 3px;
    color: #270;
    background-color: #dff2bf;
    position: fixed;
    top: 30px;
    right: 30px;
}

.edit-link {
    padding: 6px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    display: inline-block;
}

.delete-btn {
    padding: 6px 13px;
    background-color: red;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-size: 14px;
}
